body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #161717;
    margin: 0;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-field {
    display: flex;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    font-size: 16px;
    width: 300px;
    border: 2px solid #5c5c5c;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 10px;
}

button:hover {
    background-color: #0056b3;
}

.result {
    margin-top: 20px;
    font-size: 18px;
}