body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center; /* Yatayda ortala */
    align-items: center;     /* Dikeyde ortala */
    font-family: Arial, sans-serif;
    background-color: #121212; /* Koyu arka plan */
    color: #ffffff; /* Açık yazı rengi */
}

.login {
    width: 500px;
    display: flex;
    flex-direction: column; /* Form elemanlarını dikeyde hizala */
    justify-content: center; /* Dikeyde ortalama */
    align-items: center;     /* Yatayda ortalama */
    background-color: #1e1e1e; /* Koyu gri arka plan */
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Daha belirgin bir gölge */
}

.login h1 {
    text-align: center;
    color: #ffffff; /* Başlık için açık renk */
}

input, button {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    max-width: 300px;
    border: 1px solid #444; /* Koyu renk kenarlık */
    border-radius: 5px;
    font-size: 16px;
    background-color: #2b2b2b; /* Koyu arka plan */
    color: #ffffff; /* Açık yazı rengi */
}

input::placeholder {
    color: #888; /* Yer tutucu için açık gri */
}

.submit {
    display: flex;
    flex-direction: columnt;
    justify-content: center;
    align-items: center;
    background-color: #4CAF50; /* Yeşil arka plan */
    color: white;
    border: none;
    cursor: pointer;
}

.submit:hover {
    background-color: #45a049; /* Hover efekti için biraz daha koyu yeşil */
}
